doctype html
html
  head
    title="Thumbnail Generator API"
  body
    h1="Thumbnail Generator API"
    form(action="/", method="post" enctype='multipart/form-data') 
      input#image(type="file", name="image" required="true")
      button(type="submit") Upload

    script(src="/main.js" defer="true") 
